<html>
<head>
  <title>Conway's Game of Life - build with Vue.js</title>
  <style>
    html, body {
      margin: 0;
      text-align: center;
    }
    h1 {
      margin-top: 20px;
    }
    div.col {
      display: inline-block;
    }
    div.app-controller {
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <h1>Conway's Game of Life - build with Vue.js</h1>
  <div id="app">
    <div class="row" v-for="row in ROWS">
      <div class="col" v-for="col in COLS">
        <!-- substract 1 to use for loop index as matrix index -->
        <cell v-bind:active="matrix[row-1][col-1]"></cell>
      </div>
    </div>
    <div class="app-controller">
      <button v-on:click="play">Play</button>
      <button v-on:click="stop">Stop</button>
    </div>
  </div>

  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/vuex"></script>
  <script src="src/cell.js"></script>
  <script src="src/store.js"></script>
  <script src="src/app.js"></script>
</body>
</html>
